<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Relief Ukraine">
      </br>
</div>
<p>Ми отримали запит на відновлення облікового запису для {{email}}</p>
<p>Якщо ви ініціювали цей запит, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}">натисніть це посилання, щоб скинути пароль</a></p>
